Fed(Back)___porvedor/src/main/mule/api_provedor.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd  http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
    <http:listener-config name="api_provedor-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8081" />
    </http:listener-config>
    <apikit:config name="api_provedor-config" api="api_provedor.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <db:config name="Database_Config" doc:name="Database Config" doc:id="c93dc886-c7e8-4ee6-ac67-1e8b30af6b06">
        <db:my-sql-connection host="localhost" port="3306" user="root" password="demo" database="provedor" />
    </db:config>
    <db:config name="Database_AWS" doc:name="Database Config" doc:id="a16ecbb0-4838-41c1-9d5d-efceca5cb49e" >
		<db:my-sql-connection host="database-restaurantes.ch579xhd5zy3.us-east-1.rds.amazonaws.com" port="3306" user="admin" password="Hambrientos5!" database="proveedor" />
	</db:config>
	<flow name="api_provedor-main">
        <http:listener config-ref="api_provedor-httpListenerConfig" path="/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="api_provedor-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="api_provedor-console">
        <http:listener config-ref="api_provedor-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="api_provedor-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="post:\pedido:application\json:api_provedor-config">
        <set-variable value="#[payload.cliente]" doc:name="Cliente" doc:id="ca005780-e648-48e6-af4d-221f91314854" variableName="cliente" />
        <set-variable value="#[payload.fecha_solicitud]" doc:name="Fecha_solicitud" doc:id="ef138c04-88a3-4bcf-a4b0-e495e081e7e7" variableName="fecha_solicitud" />
        <set-variable value="2023-12-21" doc:name="Fecha_envio" doc:id="3318f048-40f3-4784-9fdc-aaea03bccb13" variableName="fecha_envio" />
        <db:insert doc:name="Insert pedido" doc:id="34f0642c-a53e-4ba2-bdd8-8c38f06b6fde" config-ref="Database_AWS">
            <db:sql><![CDATA[insert into pedidos(cliente, fecha_pedido, fecha_envio, pedido) values(:cliente,:fecha_sol,:fecha_env,:pedido)]]></db:sql>
            <db:input-parameters><![CDATA[#[{'cliente': payload.cliente, 'fecha_sol': payload.fecha_solicitud, 'fecha_env': vars.fecha_envio, 'pedido': payload.pedido}]]]></db:input-parameters>
        </db:insert>
        <db:select doc:name="Select pedido" doc:id="4c611f67-0a00-4bd3-b043-e684ff9b238a" config-ref="Database_AWS">
            <db:sql><![CDATA[select * from pedidos where cliente=:cliente
    AND fecha_pedido=:fecha_solicitud]]></db:sql>
            <db:input-parameters><![CDATA[#[{'cliente': vars.cliente, 'fecha_solicitud': vars.fecha_solicitud}]]]></db:input-parameters>
        </db:select>
        <ee:transform doc:name="Transform Message" doc:id="cbf6748a-6bf4-4974-8b4b-1748ff918135">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	cliente: payload.cliente default "restaurante",
	fecha_pedido: payload.fecha_pedido default "hoy",
	fecha_envio: payload.fecha_envio default "en dos días",
	pedido: payload.pedido default "ya tu sabe",
	id: payload.id
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
</mule>
