Fed(Back)___api_contabilidad/target/META-INF/mule-src/___api_contabilidad/src/main/mule/api_conabilidad.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd  http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
    <http:listener-config name="api_conabilidad-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8081" />
    </http:listener-config>
    <apikit:config name="api_conabilidad-config" api="api_conabilidad.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <db:config name="Database_Config" doc:name="Database Config" doc:id="a78d7340-f560-47f5-bed9-c73a74efdfac">
        <db:my-sql-connection host="localhost" port="3306" user="root" password="demo" database="restaurante" />
    </db:config>
    <db:config name="Database_AWS" doc:name="Database Config" doc:id="d2d6bb86-4eaa-4045-ba0f-f1ba41b03929">
        <db:my-sql-connection host="database-restaurantes.ch579xhd5zy3.us-east-1.rds.amazonaws.com" port="3306" user="admin" password="Hambrientos5!" database="restaurante" />
    </db:config>
    <http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="d60af414-8a99-4e59-9e60-8cd5d4fd1812" >
		<http:request-connection host="api-cocina-4hvmn3.5sc6y6-4.usa-e2.cloudhub.io" protocol="HTTPS"/>
	</http:request-config>
	<flow name="api_conabilidad-main">
        <http:listener config-ref="api_conabilidad-httpListenerConfig" path="/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="api_conabilidad-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="api_conabilidad-console">
        <http:listener config-ref="api_conabilidad-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="api_conabilidad-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="post:\ticket:application\json:api_conabilidad-config">
        <set-variable value="#[payload.mesa]" doc:name="Mesa" doc:id="0be74a68-e958-42d0-82c2-e4d606552870" variableName="mesa" />
        <set-variable value="#[payload.hora]" doc:name="Hora" doc:id="22d219d6-72c5-4574-bc3c-00655b6772cb" variableName="hora" />
        <db:select doc:name="Select" doc:id="27c151a2-a88f-490b-80fa-2e9908338361" config-ref="Database_AWS">
            <db:sql><![CDATA[SELECT SUM(p.precio * pe.cantidad) AS total_pedido
FROM pedido pe
JOIN precios p ON pe.plato = p.plato
WHERE pe.mesa = :mesa 
  AND pe.hora = :hora;]]></db:sql>
            <db:input-parameters><![CDATA[#[{'mesa': payload.mesa, 'hora': payload.hora}]]]></db:input-parameters>
        </db:select>
        <ee:transform doc:name="Transform Message" doc:id="5b46fe78-e87f-4400-8d40-241ea45389fd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/java
---
{
	t_ticket: payload[0].total_pedido default 0
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
        <set-variable value="#[payload.t_ticket]" doc:name="Total_ticket" doc:id="57f6f8e3-db8e-440d-9a62-c14921144b95" variableName="t_ticket" />
        <db:select doc:name="Select" doc:id="133e863e-7248-4839-af03-47e974f7037c" config-ref="Database_AWS">
            <db:sql><![CDATA[SELECT pe.plato, pe.cantidad, pr.precio
FROM pedido pe
JOIN precios pr ON pe.plato = pr.plato
WHERE pe.mesa = :mesa 
  AND pe.hora = :hora;]]></db:sql>
            <db:input-parameters><![CDATA[#[{'mesa': vars.mesa, 'hora': vars.hora}]]]></db:input-parameters>
        </db:select>
        <set-variable value="Pedido: " doc:name="Platos XCantidad - Precio" doc:id="56d1bd82-5247-46d7-898e-1249c485693d" variableName="pedido" />
        <foreach doc:name="For Each" doc:id="4f9f18d9-6830-48ae-9e47-f50a646e1183">
            <set-variable value="#[payload.cantidad default 1]" doc:name="cantidad" doc:id="11740426-1092-4c42-b05b-e39c0fde5abf" variableName="cantidad" />
            <set-variable value="#[&quot; &quot;++ vars.pedido ++ payload.plato ++ &quot; x&quot; ++ vars.cantidad as String ++ &quot; - &quot; ++ (payload.precio default 0) as String ++ &quot; \n &quot;]" doc:name="Platos XCantidad - Precio" doc:id="42e231da-b058-4dfd-a25f-e020e5ce7e12" variableName="pedido" />
        </foreach>
        <db:insert doc:name="Insert" doc:id="445755c5-13e6-4191-81b4-bc7f2ce32253" config-ref="Database_AWS">
            <db:sql><![CDATA[INSERT INTO tickets (mesa, hora, pedido, total, descuento)
VALUES (:mesa, :hora, :pedido, :total, false);]]></db:sql>
            <db:input-parameters><![CDATA[#[{'mesa': vars.mesa, 'hora':vars.hora, 'pedido': vars.pedido,'total': vars.t_ticket}]]]></db:input-parameters>
        </db:insert>
        <ee:transform doc:name="JSON envio" doc:id="6f6220b1-771b-44c2-bb7b-6ee29a0bab88">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	mesa: vars.mesa,
	hora: vars.hora
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<http:request method="POST" doc:name="POST API_cocina" doc:id="6a487417-7489-40f8-bf7a-397c0df0c300" config-ref="HTTP_Request_configuration" path="/stock">
		</http:request>
		<db:select doc:name="Select" doc:id="c2b64ca4-32be-4eb4-b4b0-a0717e0caa1f" config-ref="Database_AWS">
            <db:sql><![CDATA[select id from tickets where mesa=:mesa and hora=:hora]]></db:sql>
            <db:input-parameters><![CDATA[#[{'mesa': vars.mesa, 'hora': vars.hora}]]]></db:input-parameters>
        </db:select>
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	precio: vars.t_ticket,
	mesa: vars.mesa,
	hora: vars.hora,
	id: payload[0].id,
	platos: vars.pedido
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\ticket\opinion:application\json:api_conabilidad-config">
        <db:update doc:name="Update" doc:id="bfcf5e79-66dc-4a9e-8415-cfbc177d2757" config-ref="Database_AWS">
            <db:sql><![CDATA[UPDATE tickets
SET total=total * :descuento, descuento= :boo
WHERE id=:id;]]></db:sql>
            <db:input-parameters><![CDATA[#[{'id': payload.id, 'descuento': 0.93, 'boo': true as Boolean}]]]></db:input-parameters>
        </db:update>
    </flow>
</mule>
